</div>
</div>

</div>
<!-- JS -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<footer class="copyRight">Copyright © Ruwantha Herath</footer>
</html>
