<%- include("header") %>

<div class="signup-form">
    <form action = "/home" method="POST" class="register-form" id="register-form">

      <div class="homeText">

        <img class = "logo" src="images/nwsdb.png" alt="">
        <h2>national water supply and drainage board</h2>
        <p class = "pName"><strong>KANDY SOUTH WATER TREATMENT PLANT</strong></p>

        <a class="btn btn-light btnHomeReg" href="/register" role="button">Register</a>
        <a class="btn btn-secondary btnHomeReg" href="/login" role="button">Login</a>
 <!-- style="pointer-events: none" -->
      </div>
      </form>
  </div>

<%- include("footer") %>
